<html>
	<head>
		<title>Instagram page stats</title>
		
		<style>	
			
		</style>

	<body>
	
	
	
    <form method="post" action="#" align = "center">
			{% csrf_token %}
    
        <input name="username"  placeholder = "Enter the username here"></textarea>
        <input name="password"  type = "password" placeholder = "Enter the password here"></textarea>
		
        <textarea name="text" rows="10" cols="60" placeholder = "Enter the links here"></textarea>

		<br></br>

		<br></br>
		
		<button type="submit", name="get_links", value="get_links", class = "speak_button">Speak</button>	
		</form>
        </body>
	</html>